body {
    background-color: rgb(240, 237, 237);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h5, h4{
    text-align: center;
    margin: 0;
}


table {
    border-collapse: collapse;
    margin: auto;
    box-shadow: 3px 5px 18px rgb(0, 0, 0);
}

td, th {
    border: 1px solid rgb(124, 123, 123);
    text-align: center;
    
}

.sem-header {
    padding: 5px;
    background-color: #539fea;
    text-align: center;
    font-weight: bold;
    color: white;
}

.table-column {
    padding:4px;
    background-color: rgb(220, 220, 220);
    font-size: 13px;
    font-weight: bold;
}

.table-value-passed {
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #8fdae7;
    font-size: 13px;
    box-sizing: border-box;
}

.table-value-Inprogress{
    padding: 8px;
    background-color: #e5ff00;
    font-size: 12px;
    box-sizing: border-box;
}

.table-value-notTaken{
    padding: 7px;
    background-color: #ffffff;
    font-size: 12px;
    box-sizing: border-box;
}